/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .page-body{
    width: 100%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .page-body{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .page-body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .page-body{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .page-body{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}